<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <style>
        div{
            display: inline-block;
            padding: 5px;
        }
        form{
            display:grid;
        }
        .submit{
            width: fit-content;
        }
    </style>
</head>
<body>
    <h1>Update Squirrel Data</h1>
    <form method="post">{% csrf_token %}
        {{form_data.as_p}}
        <br>
        <input type="submit" name="Submit" class="submit">
    </form>
</body>
</html>